* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ESTILOS GENERALES ---------------------------------------*/
body {
  background: #1ecbe3;
  font-family: "Nunito", sans-serif;
}

nav {
  width: 100vw;
  height: 20vh;
}

nav figure {
  width: 100vw;
  height: inherit;
}
.principal-logo {
  display: block;
  height: inherit;
  padding-top: 2vh;
  margin-right: auto;
  margin-left: auto;
}

.logo-second {
  display: block;
  height: inherit;
  padding-top: 2vh;
  margin-right: auto;
  margin-left: auto;
}

.btn-white {
  width: 250px;
  height: 60px;
  background: ghostwhite;
  border-radius: 30px;
  border-color: transparent;
  outline: 0px;
  color: #1ecbe3;
  font-size: 40px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  margin: 2vw;
  cursor: pointer;
}

/* Estilos BIENVENIDA ---------------------------------------*/
.container-welcome img {
  position: relative;
  top: 20vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name-form {
  position: relative;
  top: 28vh;
}

.input-name {
  width: 580px;
  height: 60px;
  background: transparent;
  border: transparent;
  display: block;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  color: ghostwhite;
  margin-left: auto;
  margin-right: auto;
  outline: 0px;
}

::-webkit-input-placeholder {
  color: ghostwhite;
}

:-moz-placeholder {
  color: ghostwhite;
}

::-moz-placeholder {
  color: ghostwhite;
}

:-ms-input-placeholder {
  color: ghostwhite;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

.line-name {
  width: 580px;
  height: 5px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: ghostwhite;
  border: transparent;
  margin-bottom: 30px;
}

.btn-circular {
  width: 80px;
  height: 80px;
  display: block;
  background: ghostwhite;
  color: #1ecbe3;
  border: transparent;
  border-radius: 50%;
  font-size: 30px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  outline: 0px;
  cursor: pointer;
}
/* Estilos HOME ---------------------------------------*/
.hidde-section {
  display: none;
}
.hidde-figure {
  display: none;
}

.cont-back {
  width: 9vw;
  float: left;
  position: absolute;
  margin-top: 3vh;
  margin-left: 3vw;
  outline: 0px;
  background: transparent;
  cursor: pointer;
  border: transparent;
}

.cont-back img {
  width: 9vw;
}

.hidde-btn {
  display: none;
}

.container-texts-btns-home {
  width: 80vw;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
}

.container-texts-btns-home h1 {
  font-family: "Fredoka One", cursive;
  font-size: 8vw;
}

.container-texts-btns-home h2 {
  font-size: 4vw;
  color: ghostwhite;
  margin-bottom: 20px;
}

/* .desaparece {
  display: none;
}

#hola {
  display: block;
}

#colores {
  display: block;
}
body {
  background-color: #1ecbe3;
} */
